<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

@{
    string paymentsJson = Model.AccrualsByDateJson;
}

<div class="block block_white block_padd indicators">
    <div class="block_head__blue">Ключевые показатели</div>
    @*<input type="text" class="form-control meterActualDate-input" value="@DateTime.Now.ToString(" dd.MM.yyyy")" />*@

    <div class="form-group">
        <input id="indicators_period" type="text" name="dates" class="form-control">
    </div>
    
    
    


    <div class="block block__white" style="min-height:438px;">
        <div class="text-right"><a class="link__orange" href="/lk/statistics">Подробнее</a></div>
        <div id="chartPayments" class="chart-block">
            <span style="color:rgb(117, 117, 117);font-size:16px;">Статистика потребления за @DateTime.Now.Year</span><br /><br />
            <div class="noItems">Нет данных...</div>
        </div>

        @if (Model != null && Model.AccrualsByDateJson != null)
        {
            <script type="text/javascript">
            google.charts.load('current', { packages: ['bar', 'corechart'], 'language': 'ru' });
            google.charts.setOnLoadCallback(drawCharts);


            function drawCharts() {
                var dataPayments = google.visualization.arrayToDataTable(eval("@Html.Raw(paymentsJson)"));

                var optionsPayments = {
                    isStacked: false,
                    chart: {
                        title: 'Статистика потребления за @DateTime.Now.Year',
                        //subtitle: 'руб.',
                    },
                    //bars: 'vertical',
                    vAxis: { format: 'decimal' },
                    height: 400,
                    //width: 760,
                    colors: ['#ffa000']
                };

                var chartPayments = new google.charts.Bar(document.getElementById('chartPayments'));
               chartPayments.draw(dataPayments, optionsPayments);
            }
            </script>
        }
    </div>





</div>


<script>
            
            $(function () {
                $('#indicators_period').daterangepicker({
                    "locale": {
                        "singleDatePicker": "true",
                        "format": "DD.MM.YYYY",
                        "startDate": "01-01-2015",
                        "endDate": "01-01-2020",
                        "separator": " - ",
                        "applyLabel": "Применить",
                        "cancelLabel": "Отмена",
                        "fromLabel": "С",
                        "toLabel": "По",
                        "customRangeLabel": "Custom",
                        "weekLabel": "Нед",
                        "daysOfWeek": [
                            "Вс",
                            "ПН",
                            "Вт",
                            "Ср",
                            "Чт",
                            "Пн",
                            "Сб"
                        ],
                        "monthNames": [
                            "Январь",
                            "Февраль",
                            "Март",
                            "Апрель",
                            "Май",
                            "Июнь",
                            "Июль",
                            "Август",
                            "Сентябрь",
                            "Октябрь",
                            "Ноябрь",
                            "Декабрь"
                        ],
                        "firstDay": 1
                    },
                    
                }, function (start, end, label) {
                    $("#filterBeginDate-input").val(start.format('DD.MM.YYYY'))
                    $("#filterEndDate-input").val(end.format('DD.MM.YYYY'))
                    console.log('range: ' + label);
                });
            });
              
            
            //$('#meterActualDate-input').daterangepicker({
            //    "locale": {
            //        "singleDatePicker": "true",
            //        "format": "DD.MM.YYYY",
            //        "separator": " - ",
            //        "applyLabel": "Применить",
            //        "cancelLabel": "Отмена",
            //        "fromLabel": "С",
            //        "toLabel": "По",
            //        "customRangeLabel": "Custom",
            //        "weekLabel": "Нед",
            //        "daysOfWeek": [
            //            "Вс",
            //            "ПН",
            //            "Вт",
            //            "Ср",
            //            "Чт",
            //            "Пн",
            //            "Сб"
            //        ],
            //        "monthNames": [
            //            "Январь",
            //            "Февраль",
            //            "Март",
            //            "Апрель",
            //            "Май",
            //            "Июнь",
            //            "Июль",
            //            "Август",
            //            "Сентябрь",
            //            "Октябрь",
            //            "Ноябрь",
            //            "Декабрь"
            //        ],
            //        "firstDay": 1
            //    },
            //    "opens": "left"
            //}, function (start, end, label) {
            //    $("#filterBeginDate-input").val(start.format('DD.MM.YYYY'))
            //    $("#filterEndDate-input").val(end.format('DD.MM.YYYY'))
            //    console.log('range: ' + label);
            //});

            //$('#filterDateRange-input').on('apply.daterangepicker', function (ev, picker) {
            //    $("#filterBeginDate-input").val(start.format('DD.MM.YYYY'))
            //    $("#filterEndDate-input").val(end.format('DD.MM.YYYY'))
            //});

</script>
