@{
    ViewBag.Title = "Доступ запрещен.";
    var returnUrl = HttpContext.Current.Request.Url.Authority;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Доступ к данной странице запрещен! У Вас нет или недостаточно прав для просмотра данной страницы.
    </p>
    <p>Вернуться <a href="@returnUrl/Admin/">на главную</a></p>
</div>
