@using System.Globalization


<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-condensed topIndent-20">
            <thead>
                <tr>
                    <th>Дата снятия </th>
                    <th>Тип показаний</th>
                    <th>Файл</th>
                    <th>Дата отправки</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>29.08.2017</td>
                    <td>Интегральные</td>
                    <td><a href="" title="Скачать файл">5913_36-01/647-5913_29-08-2017_201708_Integral.doc (25 KB)</a></td>
                    <td>09:51:10 29.08.2017</td>
                </tr>
                <tr>
                    <td class="col-date">24.07.2017</td>
                    <td class="col-status integral">Интервал</td>
                    <td class="col-status"><a href="" title="Скачать файл">5913_36-01/647-5913_24-07-2017_201707_Interval.doc (25 KB)</a></td>
                    <td class="col-status">12:00:02 24.07.2017</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
