*~
.vs/
*/Logs/
*/bin/
*/obj/
Disly/Properties/PublishProfiles/
cms.dbase/template/
Integration.Frmp.library/template/
Integration.Frmp.library/Data
App.config
app.config
Web.config
Web.Release.config
Web.Debug.config
Integration.Frmp.cmd/App.config
Integration.Frmp.service/App.config
PhotoImport/App.config
PhotoImport/Template/

