@model LkModule.Areas.Admin.Models.SubscrViewModel

@{ 
    Layout = null;
}

@if (Model.Subscrs != null && Model.Subscrs.Count() > 0)
{
    <div class="group-block open" title="Привязка лицевых счетов">
        <div class="form-group">
            <label for="subscr-select">Лицевые счета</label>
            <select name="Item.Subscrs" id="subscr-select" class="form-control select2" multiple>
                @foreach (var sub in Model.Subscrs)
                {
                    string title = String.Format("{0} {1} {2} {3}", sub.Link, sub.Surname, sub.Name, sub.Patronymic);
                    string selected = Model.SelectedSubscrs.Any(a => a == sub.Id) ? "selected" : null;
                    <option value="@sub.Id" @selected>@title</option>
                }
            </select>
        </div>
    </div>

    <script>
        $("#subscr-select").on("change", function (evt) {
            var segments = $(location).attr('href').split('/');
            var user = segments[6];
            var items = $("#subscr-select").select2("data");
            var array = [];
            for (var i = 0; i < items.length; i++) {
                if (items[i] !== null) {
                    array.push(items[i].id);
                }
            }

            $.ajax({
                type: "POST",
                async: false,
                url: '/Admin/SubscrsWidget/Update',
                data: ({ items: array, user: user }),
                error: function (data) {}
            });
        });
    </script>
}

