body{
    color:#333;
    font-family:Roboto;
    font-size:16px;
}
#logo {
    background-image: url(/sites/rushydro/img/logo_bg.png);
    background-position: center right;
    padding: 12px 5px 5px;
}
    #logo img {
        padding: 0 50px 0 24px;
    }


.menu .navbar {
border-radius:0;
}

.navbar-brand,.navbar {
    min-height: 75px;
}
.navbar-nav > li > a{
    font-size:12px;
    text-transform:uppercase;
    padding:27px 15px 28px;
}

.index{
    position:relative;
}
.index_right {
    width: 100%;
    max-width: 343px;        
    position:absolute;
    right:0;
    top:0;
    height: 100vh;
}

.index_right_dop {
    width: 100%;
    max-width: 343px;
    float: right;
    height: calc(100vh - 75px);
}
.index_right__fix{
position:fixed; 
}

.index_padd{
padding:0 20px;
}

.index_with {
    overflow: auto;
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 16px;
    padding-left: 25px;
    min-height: calc(100vh + 100px);
}

.navbar{
    margin-bottom:0;
}
.hydro_bg {
    background-image: url(/sites/rushydro/content/img/slider_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 65px;
}
.block__shadow {
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.1);
}
#indicators_period {
    padding-left: 30px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAALVBMVEUAAACampqampqampqampqampqampqampqampqampqampqampqampqampqampqSWl1iAAAADnRSTlMAESIzRGZ3iJmqu8zd7gKjCLQAAABhSURBVHgBdc0xEsMgEENRUNhFBqH7HzfEQ+HC+QWa17BlV2fut1/lBhBWRZEB1D1Oiw652fy5zbzcOeNYSXtl6vjRqzk8uUweI+4FjiUvLevff580IbdxnN0j5PF6L/ksvu43CRXcxbIXAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: 8px 11px;
    border-radius: 0;
    padding-top: 12px;
    padding-bottom: 13px;
    height: 44px;
    display:inline-block;
}
