@model LayoutFrontModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/sites/rushydro/favicon.ico" type="image/vnd.microsoft.icon">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/Content/fonts/Roboto/roboto.css" rel="stylesheet" />

    <link href="~/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/sites/rushydro/content/css/site.css" rel="stylesheet" />
    <link href="~/sites/rushydro/content/css/rushydro.min.css" rel="stylesheet" />

    @RenderSection("Styles", false)

    <script src="~/Content/plugins/jquery/jquery.js"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/jquery/jquery.ui.js"></script>
    

    <script src="~/sites/rushydro/content/js/main.js"></script>

    <script src="~/Content/plugins/daterangepicker/moment.min.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>    
    

    <title>@ViewBag.Title </title>
</head>
<body>
    <div class="menu">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
                        <span class=sr-only>Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="logo" class="navbar-brand" href="/">
                        <img src="~/sites/rushydro/content/img/logo.png" alt="" />
                    </a>
                </div>
                @{ Html.RenderAction("PageGroup", "Widget", new { @area = "", @alias = "main", @view = "/sites/rushydro/view/partial/mainmenu.cshtml", @url = ViewBag.ThisUrl }); }
            </div>
        </nav>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="index">
                <div class="index_right_dop visible-md visible-lg"></div>
                <div id="index_right" class="index_right visible-md visible-lg">

                    <div class="mgr index_padd">
                        <div class="mgr_spec">Персональный менеджер</div>
                        <div class="mgr_name">Константинопольская Надежда</div>
                        <div class="mgr_btn">
                            <a href="/messages" class="btn btn_border btn_border__blue">написать обращение</a>
                            <a href="#" class="btn btn_border btn_border__blue">заказать звонок</a>
                        </div>
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        try
                        {
                            Html.RenderAction("Info", "SubscrInfoWidget", new { @area = "Lk" });
                        }
                        catch (Exception ex)
                        {
                            //Log ex
                        }
                    }
                </div>

                <div class="index_with">
                    @RenderBody()
                </div>
            </div>
        </div>


    </div>
    @RenderSection("Scripts", false)
</body>
</html>
