@{
    ViewBag.Title = "Главная";
    Layout = ViewBag.Layout;
}

<div class="col-md-12">

    <div class="block alert alert_orange hydro_bg block__shadow">
        <h3>Ежеквартальные отчеты</h3>
        <p>Приложение к ежеквартальному отчету - аудиторское заключение к бухгалтерской отчетности за 2018 г.</p>
    </div>

        @if (User.Identity.IsAuthenticated)
        {
            try
            {
                Html.RenderAction("Balance", "SubscrInfoWidget", new { @area = "Lk" });
            }
            catch (Exception ex)
            {
                //Log
            }
        }

        @if (User.Identity.IsAuthenticated)
        {
            try
            {
                Html.RenderAction("Index", "StatisticWidget", new { @area = "Lk" });
            }
            catch (Exception ex)
            {
                //Log
            }
        }

        @{
            try
            {
                Html.RenderAction("PageChild", "Widget", new { @area = "", @path = "/", @alias = "informaciya", @view = "~/sites/rushydro/view/module/page/childlist2col.cshtml", @url = ViewBag.ThisUrl });
            }
            catch { }

        }

        <div class="block block_white block_padd">
            <div class="block_head__blue">Счета и платежи</div>
            <div class="block_head__orange">Цены указаны в рублях</div>

            <table>
                <tr>
                    <th>Период</th>
                    <th>Выставлено (с НДС)</th>
                    <th>Оплачено</th>
                    <th>Балaнс <br /> на начало периода </th>
                    <th>Баланс<br /> на конец периода</th>
                </tr>
                <tr>
                    <td>СЕНТЯБРЬ 2017</td>
                    <td><span class="table_price">760 000</span></td>
                    <td><span class="table_price">760 000</span></td>
                    <td>
                        <span class="rub_positiv table_price">+ 658 000</span>
                    </td>
                    <td>
                        <span class="rub_negativ table_price">- 102 000</span>
                    </td>
                </tr>
                <tr>
                    <td>СЕНТЯБРЬ 2017</td>
                    <td><span class="table_price">760 000</span></td>
                    <td><span class="table_price">760 000</span></td>
                    <td>
                        <span class="rub_positiv table_price">+ 658 000</span>
                    </td>
                    <td>
                        <span class="rub_negativ table_price">- 102 000</span>
                    </td>
                </tr>
                <tr>
                    <td>СЕНТЯБРЬ 2017</td>
                    <td><span class="table_price">760 000</span></td>
                    <td><span class="table_price">760 000</span> </td>
                    <td>
                        <span class="rub_positiv table_price">+ 658 000</span>
                    </td>
                    <td>
                        <span class="rub_negativ table_price">- 102 000</span>
                    </td>
                </tr>

            </table>

            <div class="block_btnarea">
                <a class="btn btn__blue btn_big" href="#">загрузить еще</a>
            </div>
        </div>




    </div>




