@{
    ViewBag.Title = "Главная";
    Layout = ViewBag.Layout;
}

<div class="col-md-12">

    <div class="block alert alert_orange hydro_bg block__shadow">
        <h3>Ежеквартальные отчеты</h3>
        <p>Приложение к ежеквартальному отчету - аудиторское заключение к бухгалтерской отчетности за 2018 г.</p>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        try
        {
            Html.RenderAction("Balance", "LkWidgets", new { @area = "Lk" });
        }
        catch (Exception ex)
        {
            //Log
        }
    }

    @if (User.Identity.IsAuthenticated)
    {
        try
        {
            Html.RenderAction("Chart", "LkWidgets", new { @area = "Lk" });
        }
        catch (Exception ex)
        {
            //Log
        }
    }

    @{
        try
        {
            Html.RenderAction("PageChild", "Widget", new { @area = "", @path = "/", @alias = "informaciya", @view = "~/sites/rushydro/view/module/page/childlist2col.cshtml", @url = ViewBag.ThisUrl });
        }
        catch { }

    }

    @if (User.Identity.IsAuthenticated)
    {
        try
        {
            Html.RenderAction("DebitCredit", "LkWidgets", new { @area = "Lk" });
        }
        catch (Exception ex)
        {
            //Log
        }
    }



</div>




