@{
    ViewBag.Title = "Главная";
    Layout = ViewBag.Layout;
}
<div class="row">
    <div class="index">
        <div class="index_right_dop visible-md visible-lg"></div>
        <div id="index_right" class="index_right visible-md visible-lg">

            
                <div class="mgr index_padd">
                    <div class="mgr_spec">Персональный менеджер</div>
                    <div class="mgr_name">Константинопольская Надежда</div>
                    <div class="mgr_btn">
                        <a href="/messages" class="btn btn_border btn_border__blue">написать обращение</a>
                        <a href="#" class="btn btn_border btn_border__blue">заказать звонок</a>
                    </div>
                </div>


                @{ 
                    try
                    {
                        Html.RenderAction("Info", "SubscrInfoWidget", new { @area = "Lk" });
                    }
                    catch (Exception ex)
                    {
                        //Log ex
                    }
                }

            
            
        </div>

        <div class="index_with ">
            
            <div class="col-md-12">

                <div class="block alert alert_orange hydro_bg block__shadow">
                    <h3>Ежеквартальные отчеты</h3>
                    <p>Приложение к ежеквартальному отчету - аудиторское заключение к бухгалтерской отчетности за 2018 г.</p>
                </div>

                @try
                {
                    Html.RenderAction("Balance", "SubscrInfoWidget", new { @area = "Lk" });
                }
                catch (Exception ex)
                {
                    //Log
                }



                @{
                    try
                    {
                        Html.RenderAction("Index", "StatisticWidget", new { @area = "Lk" });
                    }
                    catch (Exception ex)
                    {
                        //Log
                    }
                }
                
                @{ 
                     Html.RenderAction("PageChild", "Widget", new { @area = "", @path="/",@alias = "informaciya", @view = "~/sites/rushydro/view/module/page/childlist2col.cshtml", @url = ViewBag.ThisUrl }); 
                }

                <div class="block block_white block_padd">
                    <div class="block_head__blue">Счета и платежи</div>
                    <div class="block_head__orange">Цены указаны в рублях</div>

                    <table>
                        <tr>                            
                            <th>Период</th>
                            <th>Выставлено (с НДС)</th>
                            <th>Оплачено</th>
                            <th>Балaанс на начало периода </th>
                            <th>Баланс на конец периода</th>
                        </tr>
                        <tr>
                            <td>сентябрь 2017</td>
                            <td>760 000</td>
                            <td>760 000 </td>
                            <td>
                                <span class="rub_positiv">+ 658 000</span>
                            </td>
                            <td>
                                <span class="rub_negativ">- 102 000</span>
                            </td>
                        </tr>
                        <tr>
                            <td>сентябрь 2017</td>
                            <td>760 000</td>
                            <td>760 000 </td>
                            <td>
                                <span class="rub_positiv">+ 658 000</span>
                            </td>
                            <td>
                                <span class="rub_negativ">- 102 000</span>
                            </td>
                        </tr>
                        <tr>
                            <td>сентябрь 2017</td>
                            <td>760 000</td>
                            <td>760 000 </td>
                            <td>
                                <span class="rub_positiv">+ 658 000</span>
                            </td>
                            <td>
                                <span class="rub_negativ">- 102 000</span>
                            </td>
                        </tr>

                    </table>

                </div>
           



            </div>

            

        </div>


    </div>
</div>
