@{
    ViewBag.Title = "Главная";
    Layout = ViewBag.Layout;
}
<div class="row">
    <div class="index">
        <div class="index_right visible-md visible-lg">

            
                <div class="mgr index_padd">
                    <div class="mgr_spec">Персональный менеджер</div>
                    <div class="mgr_name">Константинопольская Надежда</div>
                    <div class="mgr_btn">
                        <a href="/messages" class="btn btn_border btn_border__blue">написать обращение</a>
                        <a href="#" class="btn btn_border btn_border__blue">заказать звонок</a>
                    </div>
                </div>


@{ 
    try
    {
        Html.RenderAction("Info", "SubscrInfoWidget", new { @area = "Lk" });
    }
    catch (Exception ex)
    {
        //Log ex
    }
}

            @*<div class="invoice">

                <a class="invoice_item invoice_active" href="#">
                    <div class="invoice_name">ПАО «МТС»</div>
                    <div class="invoice_num">Лицевой счет № 36594322</div>
                    <div class="invoice_pay">94 322 <i class="fa fa-rub"></i></div>
                </a>
                <a class="invoice_item" href="#">
                    <div class="invoice_name">ПАО «МТС»</div>
                    <div class="invoice_num">Лицевой счет № 36594322</div>
                    <div class="invoice_pay">94 322 <i class="fa fa-rub"></i></div>
                </a>
                <a class="invoice_item" href="#">
                    <div class="invoice_name">ПАО «МТС»</div>
                    <div class="invoice_num">Лицевой счет № 36594322</div>
                    <div class="invoice_pay">94 322 <i class="fa fa-rub"></i></div>
                </a>

            </div>*@

            
            
        </div>

        <div class="index_with ">
            
            <div class="col-md-12">
                <div class="block alert alert_orange hydro_bg block__shadow">
                    <h3>Ежеквартальные отчеты</h3>
                    <p>Приложение к ежеквартальному отчету - аудиторское заключение к бухгалтерской отчетности за 2018 г.</p>
                </div>

                <div class="block currentpay">
                    <div class="currentpay_head block_head__blue">Текущий баланс</div>
                    <div class="currentpay_pay">35 000</div>
                    <div class="currentpay_btn">
                        <a class="btn btn_middle btn_white" href="#">Информация о плательщике</a>
                        <a class="btn btn_middle btn_white" href="#">Персональный менеджер</a>

                    </div>
                </div>

                <div class="block block_white block_padd indicators">
                    <div class="block_head__blue">Ключевые показатели</div>
                    
                    @{ 
                        try
                        {
                            Html.RenderAction("Index", "StatisticWidget", new { @area = "Lk" });
                        }
                        catch (Exception ex)
                        {
                            //Log
                        }
                    }
                    
                  

                </div>


            </div>

            

        </div>


    </div>
</div>
