@{
    ViewBag.Title = "Главная";
    Layout = ViewBag.Layout;
}
<div class="row">
    <div class="index">
        <div class="index_right visible-md visible-lg">

            <div class="col-md-12">
                <div class="mgr">
                    <div class="mgr_spec">Персональный менеджер</div>
                    <div class="mgr_name">Константинопольская Надежда</div>
                    <div class="mgr_btn">
                        <a href="#" class="btn btn_border btn_border__blue">написать обращение</a>
                        <a href="#" class="btn btn_border btn_border__blue">заказать звонок</a>
                    </div>
                </div>

            </div>
            
        </div>

        <div class="index_with ">
            
            <div class="col-md-12">
                <div class="alert alert_orange hydro_bg block__shadow">
                    <h3>Ежеквартальные отчеты</h3>
                    <p>Приложение к ежеквартальному отчету - аудиторское заключение к бухгалтерской отчетности за 2018 г.</p>
                </div>
            </div>

            

        </div>


    </div>
</div>
