<link href="~/Content/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
<script src="~/Content/plugins/daterangepicker/moment.min.js"></script>
<script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>

<div class="filterByDateBlock">
    <form role="form">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <div class="form-group">
                    <select class="form-control select2">
                        <option>Сжиженный газ Уфа ООО (№ Сжиженный газ Уфа ООО)</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Показать</button>
                </div>
            </div>
        </div>
    </form>
</div>

