@{
    ViewBag.Title = "Главная";
}

<div class="content">



    <div class="row">
        <div class="col-md-4 ">
            <a class="block block__white" href="/page/lk/costs">
                <img class="block_img" src="~/Content/template/img/ico/stat.png" alt="" />
                <div class="block_info">
                    <div class="block_info_text">статистика потребления</div>
                </div>
            </a>
            <a class="block block__white" href="/lk/accruals">
                <img class="block_img" src="~/Content/template/img/ico/schet.png" alt="" />
                <div class="block_info">
                    <div class="block_info_text">счёт-фактура за последний месяц</div>
                </div>
            </a>
            <div class="block block__white block__opacity">
                <div class="block_headr">Направлять по e-mail</div>
                <div class="form-group">
                    <label class="block_check"><input class="iCheck" type="checkbox"> <span>Ежемесячные счета-фактуры</span></label>
                </div>
                <div class="form-group">
                    <label class="block_check"><input class="iCheck" type="checkbox"> <span>Информационно-рекламная рассылка</span></label>
                </div>



                <div class="block_btnarea">
                    <form action="/" method="post">
                        <button class="btn btn_orange">Подписаться на рассылку</button>
                    </form>
                </div>
            </div>

            <a class="block block__white">
                <img class="block_img" src="~/Content/template/img/ico/help.png" alt="" />
                <div class="block_info">
                    <div class="block_info_text">руководство пользователя</div>
                </div>
            </a>
            <a class="block block__white" href="/page/branches">
                <img class="block_img" src="~/Content/template/img/ico/map.png" alt="" />
                <div class="block_info">
                    <div class="block_info_text">обслуживающий участок</div>
                </div>
            </a>

        </div>
        <div class="col-md-4">
            <a class="block block__white" href="/rights">
                <img class="block_img" src="~/Content/template/img/ico/people.png" alt="" />
                <div class="block_info">
                    <div class="block_info_text">ваши права</div>
                </div>
            </a>

            <a class="block block__white" href="/info">
                <img class="block_img" src="~/Content/template/img/ico/handshake.png" alt="" />
                <div class="block_info">
                    <div class="block_info_text">договор</div>
                </div>
            </a>


            <a class="block block__white">
                <img class="block_img" src="~/Content/template/img/ico/workflow.png" alt="" />
                <div class="block_info">
                    <div class="block_info_text">электронный документооброт</div>
                </div>
            </a>

            <div class="block block__white block__opacity">
                <div class="block_headr">Опрос качества</div>
                <div>Довольны ли Вы качеством услуг АО&nbsp;«ЭСК&nbsp;РусГидро»?</div>
                <div>
                    <form action="/" method="post">
                        <div class="block_btnarea">
                            <div class="row">
                                <div class="col-md-6"><button class="btn btn_orange">Да</button></div>
                                <div class="col-md-6"><button class="btn btn_orange">Нет</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block block__white">
                <div class="block_headr">Последние сообщения</div>
                <div class="ramka">
                    <div class="list">
                        <div class="list_item">
                            <div class="list_date">24.03.18</div>
                            <a href="#">Добрый день! По Вашему обращению через ЛКК...</a>
                        </div>
                        <div class="list_item">
                            <div class="list_date">12.11.17</div>
                            <a href="#">Уважаемый абонент! Правительство решило......</a>
                        </div>
                    </div>
                    <a class="link  link__orange" href="/page/message"><i>История сообщений</i></a>
                </div>
            </div>


            <div class="block block__white">
                <div class="block_headr">Дополнительные услуги</div>
                <a class="link  link__orange" href="/page/gds/pricelist"><i>Посмотреть прайс-лист</i></a>
                <div class="ramka">
                    <div class="list">
                        <div class="list_item">
                            <div class="list_date">24.02.18</div>
                            <a href="#">Срочное заключение договора электр</a>
                        </div>
                        <div class="list_item">
                            <div class="list_date">19.12.17</div>
                            <a href="#">Предоставление консультации по процедуре заключения договора на передачу электроэнергии</a>
                        </div>
                    </div>

                    <a class="link  link__orange" href="/page/gds/orders"><i>История заявок</i></a>
                </div>
            </div>


        </div>
    </div>
</div>