<section class="content-header">
    <h1>@Model.PageName</h1>
    @if (Model.Breadcrumbs != null)
    {
        <ol class="breadcrumb">            
             @foreach (var item in Model.Breadcrumbs)
             {
                 <li><a href="@item.Url">@item.Title</a></li>
             }                       
        </ol>   
    }
</section>