.menu {
    
    display: inline-block;
}
.menu_wr {
    background-color: #0b4587;
    min-height: 100vh;
    padding-bottom: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
/*фотогаллерея*/
.gallery {
    display: inline-block;
}
.swip_wr {    display: inline-block;  margin-bottom: 15px;    margin-right: 15px;}
.swip_wr a {    background: 50% 50% no-repeat;   background-size: cover;    display: block;    width: 150px;    height: 150px;}
#swipebox-original {    display: block;   width: 50px;    height: 50px;    position: absolute;    left: 50%;    margin-left: -25px;    top: 14px;    z-index: 999;}
#swipebox-original:before {font-family: fontello;content: '\ea6d';color: #fff;font-size: 21px;position: relative;left: 14px;}

.content{
font-family:Roboto;
}

.block__white{
    background-color:#fff;
}
.block {
    margin-bottom: 10px
}
.block {
    padding-top: 14px;
    padding-right: 23px;
    padding-bottom: 10px;
    padding-left: 23px;
    border-radius: 4px;
    min-height: 100px;
    position: relative;
    display:block;

}

.block__white.block__opacity {
    padding-top: 15px;
    padding-bottom: 52px;
    background-color:rgba(255,255,255,.7);
}

.block_img {
    float: left;
    margin-top: 14px;
}
.block_info {
    padding-left: 92px;
    color: #262626;
}
.block_info .block_info_text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    
    position: absolute;
    top: 50%;
    
    transform: translate(0, -50%);
}

.block_headr{
    text-transform:uppercase;
    font-size:16px;
    font-weight:bold;
margin-bottom:16px;
}
.list_item{
margin-bottom:10px;
}
.list_item a {
    color: #262626;
}
.list_date {
    color: #737780;
    font-size:11px;
}

.ramka {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding:12px 20px 30px;
    margin:10px 0 10px;
}

.link{
text-decoration:underline;
font-size:15px;
}
.link__orange,
.link__orange:hover {
    color: #ff7900;
}
.link__orange:hover{
text-decoration:none;
}

.block_check{
font-size:13px;
margin-bottom:10px;
cursor:pointer;
}
.block_check span{
vertical-align:middle;
margin-left:4px;
}

.block_btnarea{
    padding-top:17px;
}

.btn_orange {
    color: #999;
    border:2px solid #ccc;
    border-radius: 22px;
    background-color: #fff;
    padding: 6px 36px;
    font-weight:bold;
    
}
.btn_orange:focus{
    outline:none;
}
.btn_orange:hover,
.btn_orange:focus,
.btn_orange:active,
.btn_orange:visited,
.btn_orange:active:focus
{
    color:#ffa000;
    border:2px solid #ffa000;
    outline:none;
    background-color: #fff!important;
}
.subscr-list-menu .fa-file-text {
    color: #0b4587;
}
.subscr-list-menu-num{
font-weight:bold;
margin-left:4px;
}

.balance {
    line-height: 18px!important;
}
.balance span{
font-size:1.3em;
font-weight:bold;
font-family:Roboto;
}
.balance i{
font-size:1.1em;
}
.balance__green i, .balance__green span {
    color: #00a61c;
}
.balance__red i, .balance__red span {
    color: red;
}

.todo-list > li.activ {
    background-color: #ffe3b4;
}
.todo-list > li.activ .btn_orange,.todo-list > li.activ .btn_orange:hover{
    background-color: #ffe3b4!important;
}

.user-menu-bl {
    box-shadow: 0.5px 0.8px 1px #000;
}

.news_item {
    clear: both;
    display: inline-block;
    width: 100%;
}
.news_item:first-child hr{
display:none;
}

.news_item_img_lk{
display:block;
float:left;
}
.news_item_img {
    max-width: 230px;
}
.news_item_img_lk+.news_item_info {
    padding-left: 250px;
}
.news_item_date {
    font-size: 0.8em;
    font-weight: bold;
}
.news_img{
    max-width:100%;
}
.news_img_lk {
    max-width: 100%;
}