@model RoleViewModel


@if (User.Identity.HasClaim(Model.ControllerName,"view"))
{
    <div class="content">
        <h1>@Model.PageName</h1>
        @if (Model.List.Count() > 0)
        {
        
            foreach (var item in Model.List)
            {
            <div class="list-item">
                <a title="@item.Name" class="li-caption" href="/admin/roles/item/@item.Id/@ViewBag.urlQuery">@item.Name</a>
                <div class="li-desc">@item.Desc</div>
            </div>
            }
        
        }
    </div>
    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>
        @using (Html.BeginForm(Model.ActionName, Model.ControllerName, FormMethod.Post))
        {
            @*@Html.Partial("Part/Filter")*@
        }

    </div>
    <div class="buttons">
        @if (User.Identity.HasClaim(Model.ControllerName, "create"))
        {
            using (Html.BeginForm(Model.ActionName, Model.ControllerName))
            {
                <button type="submit" name="action" value="insert-btn" class="button icon-create">Создать</button>
            }

        }
    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}
