@using LkModule.Areas.Lk.Models
@model  SubscrWidgetFrontModel

@if (Model.Item != null)
{
    <div class="block currentpay">
        <div class="currentpay_addres">
            <div class="currentpay_addres_head block_head__blue">Юридический адрес</div>
            <div class="currentpay_addres_val">@Model.Item.Addres</div>

        </div>
        <div class="currentpay_head block_head__blue">Текущий баланс</div>
        <div class="currentpay_pay">
            <div class="currentpay_sum @(Model.Item.Saldo.HasValue && Model.Item.Saldo.Value>0 ?"currentpay_sum__positiv": "currentpay_sum__negativ")">
                @(Model.Item.Saldo.HasValue ? Model.Item.Saldo.Value.ToString("N2") : "-")
                &nbsp;<span>₽</span>
            </div>
        </div>
        <div class="currentpay_btn">
            <a class="btn btn_middle btn_white" href="/lk/subscrinfo/">Информация о плательщике</a>
            <a class="btn btn_middle btn_white" href="#">Персональный менеджер</a>

        </div>
    </div>
}
