@using LkModule.Areas.Lk.Models
@model  SubscrWidgetFrontModel

@{ 
    Layout = null;
}

@if (Model.Item != null)
{
    <div class="invoice">
        <div class="invoice-list">
            @if (Model.List != null && Model.List.Count() > 0)
            {
                foreach (var item in Model.List)
                {
                    string _class = "invoice_item ";
                    if (item.Default.HasValue && item.Default.Value)
                    {
                        _class += " invoice_active";
                    }
                    <a id="subid_@item.SubscrId" class="@_class js_subscrChange-link" href="/lk/LkWidgets/setUserSubscrDefault" data-subscr-id="@item.Id">
                        <div class="invoice_name">@item.Name</div>
                        <div class="invoice_num">Лицевой счет № @item.SubscrId</div>
                        <div class="invoice_pay">@(item.Saldo.HasValue ? item.Saldo.Value.ToString("N2") : "")<span>₽</span></div>
                    </a>
                }
            }
            else
            {
                <a href="/settings">Подключить лицевой счет</a>
            }
        </div>
    </div>
}

<script src="~/sites/rushydro/content/module/lk/js/script.js"></script>
