@using VoteModule.Areas.Vote.Models
@model VoteFrontModel

@Html.Partial("Partial/header")

<div class="content">
    <div class="invoice">

        <div class="vote_list">
            @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
            {
                foreach (var item in Model.List.Items)
                {
                    <div class="vote_list_item">
                        <h5><a href="/vote/item/@item.Id">@item.Title</a></h5>                        
                    </div>
                }
                if (Model.List != null && Model.List.Pager != null)
                {
                    @Html.Partial("Partial/_pager", Model.List.Pager)
                }
            }
        </div>       

    </div>
</div>
