@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Учетная запись заблокирована";
}

<hgroup>
    <h1 class="text-danger">Учетная запись заблокирована</h1>
    <h2 class="text-danger">Ваша учетная запись заблокирована, попробуйте авторизоваться позже.</h2>
</hgroup>
