@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Учетная запись заблокирована";
}

<hgroup>
    <h1 class="text-danger">Страница не найдена</h1>
    <h2 class="text-danger">Страница не найдена или более не доступна.</h2>
</hgroup>
