<div class="filterByDateBlock">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label for="beginDate" class="col-sm-1 control-label text-right">с</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="beginDate">
            </div>
        </div>
        <div class="form-group">
            <label for="endDate" class="col-sm-2 control-label text-right">по</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="endDate">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-2">
                <button type="submit" class="btn btn-default">Показать</button>
            </div>
        </div>
    </form>
</div>
<style>
    .filterByDateBlock {
        padding-bottom: 30px;
    }
</style>
