@using EventsModule.Areas.Events.Models
@model EventFrontModel

<div class="content">
    @if (Model != null)
    {
        <div class="row">
            @if (Model.Items != null && Model.Items.Count() > 0)
            {
                foreach (var item in Model.Items)
                {
                    <div class="col-md-12">
                        <a href="/events/item/@item.Id">@item.Title</a>
                    </div>
                }
            }
            else
            {
                <div class="noItems">Нет данных</div>
            }
        </div>
    }
</div>