<div class="cartFilterBlock">
    <form role="form">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <div class="form-group">
                    <div class="input-group date">
                        <input type="text" class="form-control pull-right" id="filterText-input" value="" placeholder="поиск">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

