<div class="filterByDateBlock">
    <form role="form">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <div class="form-group">
                    <label for="filterText-input" class="control-label">Поиск: </label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-filter"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="filterText-input" value="">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <button type="submit" class="btn btn-default" style="margin-top: 25px;">Показать</button>
                </div>
            </div>
        </div>
    </form>
</div>

