@using MessagesModule.Areas.Messages.Models
@model MsgWidgetFrontModel





<div class="block block__white">
    <div class="block_headr">Последние сообщения</div>
    <div class="ramka">

        @if (Model.MsgList != null)
        {
            <div class="list">
                @foreach (var item in Model.MsgList)
                {
                    string _class = (item.View) ? "" : "new";
                    <div class="list_item @_class">
                        <div class="list_date">@item.Date.ToString("dd.MM.yyyy")</div>
                        <a href="/messages/item/@item.Id">@item.Theme</a>
                    </div>
                }
            </div>
            <a class="link  link__orange" href="/messages"><i>История сообщений</i></a>
        }
        else
        {
            <p class="smal">У Вас пока нет сообщений</p>
        }


    </div>
</div>