@{
    //ViewBag.Title = "Forgot Password Confirmation";
    ViewBag.Title = "Восстановление пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        На указанный адрес отправлены инструкции по восстановлению пароля.
    </p>
</div>
	
