@{
    //ViewBag.Title = "Forgot Password Confirmation";
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_LayoutWelcome.cshtml";
}

<div class="content">
    <div class="invoice">
        <h2>@ViewBag.Title.</h2>
        <div>
            <p>
                На указанный адрес отправлены инструкции по восстановлению пароля.
            </p>
        </div>

    </div>
</div>