@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_LayoutWelcome.cshtml";
}


<div class="content">
    <div class="invoice">
        <h2>@ViewBag.Title.</h2>
        <div>
            <p>
                Новый пароль успешно установлен. Чтобы авторизоваться перейдите по ссылке @Html.ActionLink("войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="lik__orange" })
            </p>
        </div>
    </div>
</div>
