@model PgDbase.entity.Paged<PgDbase.entity.VacancyModel>

<div class="row">
    @if (Model != null)
    {
        foreach (var item in Model.Items)
        {
            <div class="col-md-12">
                <a href="/vacancy/@item.Id">@item.Title</a>
            </div>
        }
    }
</div>