@model SitesViewModel

@using (Html.BeginForm(Model.ActionName, Model.ControllerName, FormMethod.Post))
{
    @*if (Model.UserResolution.Write)*@
    if (true)
    {
    <div class="content">
        <h1>Все сайты портала</h1>
        @Html.TextBoxFor(m=>Model.Item.Title, new { @required = "", @Title = "Название", @placeholder = "Название", MaxLength = "512" })

        @if (Model.Item != null)
        {
            <div class="group-block open" title="Доменные имена">
                <div class="row">
                    <div class="alert alert-info" role="alert">Чтобы сайт отображался на другом домене, в его настройках DNS необходимо прописать запись типа А указав ip: @Request.ServerVariables["LOCAL_ADDR"] и добавить домен:</div>
                </div>
            </div>
        }
    </div>       

    }
    else
    {
        <p>@Settings.NoResolut</p>        
    }
    <div class="buttons">
        @*@if ((Model.Item != null && Model.UserResolution.Change) || (Model.Item == null && Model.UserResolution.Write))*@
        @if (true)
        {
            <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Сохранить</button>
        }
        @*@if (Model.Item != null && Model.UserResolution.Delete)*@
        @if (true)
        {
            <button type="submit" name="action" data-action="delete" value="delete-btn" class="button icon-delete">Удалить</button>
        }
        <button type="submit" name="action" value="cancel-btn" class="button icon-cancel">Закрыть</button>
    </div>
}