<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="BaseUrl" value="localhost" />
  <add key="SiteTitle" value="Портал" />
  <add key="SiteDesc" value="2.0" />
  <add key="GeneralDomain" value="http://example.com" />


  <!--For Mial request-->
  <add key="MailServer" value="smtp.yandex.ru" />
  <add key="MailServerPort" value="25" />
  <add key="MailServerSSL" value="true" />
  <add key="MailFrom" value="d-boriskin@it-serv.ru" />
  <add key="MailAdresName" value=".Support" />
  <add key="MailPass" value="k0mprend0" />
  <add key="MailEncoding" value="KOI8-R" />
  <add key="MailTo" value="internet@it-serv.ru" />
</appSettings>