<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="BaseUrl" value="localhost" />
  <add key="SiteTitle" value="Портал" />
  <add key="SiteDesc" value="2.0" />
  <add key="GeneralDomain" value="http://example.com" />

  <!--system message-->
  <add key="EmtyList" value="В разделе нет информации." />
  <add key="EmtyListFilter" value="Нет результатов удовлетворяющих значениям фильтра." />
  <add key="NoResolut" value="Недостаточно прав на этот раздел." />

  <!--for upload files-->
  <add key="PicTypes" value="jpg,jpeg,png,gif" />
  <add key="AudioTypes" value="mp3,wma,wav" />
  <add key="VideoTypes" value="flv,mp4,wmv,avi,mov,mpg" />
  <add key="DocTypes" value="jpeg,jpg,png,gif,pdf,ppt,rtf,txt,doc,docx,xls,xlsx,ods,odt,tar,zip,7z" />

  <!--For Mial request-->
  <add key="MailServer" value="smtp.yandex.ru" />
  <add key="MailServerPort" value="25" />
  <add key="MailServerSSL" value="true" />
  <add key="MailFrom" value="d-boriskin@it-serv.ru" />
  <add key="MailAdresName" value=".Support" />
  <add key="MailPass" value="k0mprend0" />
  <add key="MailEncoding" value="KOI8-R" />
  <add key="MailTo" value="internet@it-serv.ru" />

  <!--dir-->
  <add key="UserFiles" value="/userfiles/" />
  <add key="MaterialsDir" value="/news/" />
  <add key="PhotoDir" value="/photo/" />
</appSettings>