<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!-- Строка подключения к БД приложения -->
  <add name="dbConnection" providerName="Npgsql" connectionString="Server=chuvashia.com;Database=portal;User Id=postgres;Password=sa0.123;Pooling=true;MinPoolSize=0;MaxPoolSize=500;" />
</connectionStrings>