@using System.Security.Claims
@using PgDbase.entity

@model UsersViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_popUp.cshtml";
}

@if (User.Identity.HasClaim(ClaimTypes.Role, "Developer") || User.Identity.HasClaim(ClaimTypes.Role, "PortalAdmin") || User.Identity.HasClaim(ClaimTypes.Role, "SiteAdmin"))
{
    using (Html.BeginForm())
    {
        <div class="row" style="min-height:550px;">
            <div class="col-xs-10">
                <div class="form-group">
                    <label>Пользователь:</label>
                </div>
                <select id="portal-userSelect" class="form-control" data-site-id=""></select>
                <div class="form-group">
                    <label>* Поиск пользователей производится по всему порталу</label>
                </div>
            </div>
            <div class="col-xs-10">
                <div class="form-group" style="margin-bottom: 0;">
                    <label>На сайт:</label>
                </div>
                <select id="portal-siteSelect" class="form-control select2">
                    @if (Model.Sites != null && Model.Sites.Count() > 0)
                    {
                        foreach (var site in Model.Sites)
                        {
                            <option value="@site.Id">@site.Title</option>
                        }
                    }
                </select>
            </div>
            <div class="col-xs-6">
                <div class="form-group" style="margin-bottom: 0;">
                    <label>Роль:</label>
                </div>
                <select id="portal-roleSelect" class="form-control">
                    @if (Model.Roles != null && Model.Roles.Count() > 0)
                    {
                        foreach (var role in Model.Roles)
                        {
                            <option value="@role.Name">@role.Desc</option>
                        }
                    }
                </select>
            </div>
            <div class="col-xs-4">
                <button type="button" id="add-newAdmin-btn" style="margin-top: 25px;" class="button btn-default icon-create pull-right" data-url="/admin/roles/addUserToSiteRole" disabled>Добавить</button>
            </div>
        </div>
    }
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}

<script>
    $(document).ready(function () {

        $("#portal-siteSelect").select2();
        $("#portal-roleSelect").select2();

        $("#portal-userSelect").on("select2:select", function () {
            $("#add-newAdmin-btn").attr("disabled", false);
        });
        $("#portal-userSelect").on("select2:unselect", function () {
            $("#add-newAdmin-btn").attr("disabled", true);
        });
    });
</script>
