.product_block {
    margin-bottom: 10px;
    height: 190px;
}

.product_image {
    max-width: 90%;
    height: 50px;
    margin-bottom: 20px;
}

.product_img {
    max-width: 100%;
}

.product_link {
    display: block;
    font-size: 14px;
    line-height: 18px;
    max-height: 72px;
    overflow: hidden;
    padding-bottom: 10px;
}

.product_price {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 0;
}

.product_price .product_price_new {
        display: block;
        font-weight: bold;
        color: #ed1c24;
        height: 18px;
        overflow: hidden;
    }

    .product_price .product_price_old {
        display: block;
        color: #777;
        font-size: 13px;
        text-decoration: line-through;
        padding-left: 5px;
        height: 18px;
        overflow: hidden;
    }

.block_cart label {
    font-weight: normal;
    color: #ccc;
    margin-left: 8px;
}

.block_cart i {
    font-size: 20px;
}

.block_cart {
    border-top: 1px solid #eee;
    padding: 15px 15px 0 15px;
    bottom: 10px;
    width: 90%;
    position: absolute;
}

    .product_category a:hover {
        text-decoration: underline;
    }

@media(min-width: 992px) {
    .product_block {
        height: 385px;
    }
}

@media(max-width: 991px) {
    .product_image {
        float: left;
        padding-right: 10px;
    }

    .product_link {
        max-height: 36px;
    }

}
