@{
    Layout = "~/Areas/Admin/Views/Shared/_popUp.cshtml";
}
@{
    ViewBag.Title = "Восстановление пароля";
}


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Новый пароль успешно установлен. Чтобы авторизоваться перейдите по ссылке @Html.ActionLink("войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
