/* skin-welcome */

/* skin-black */

.skin-black.skin-welcome .wrapper,
.skin-black.skin-welcome .main-sidebar,
.skin-black.skin-welcome .left-side {
    background-color: #ecf0f5;
}

.skin-welcome .content-wrapper, .right-side, .main-footer{
    margin-left:0;
}

.skin-welcome.layout-boxed .wrapper {
    box-shadow: none !important;
}

/*.skin-black.skin-welcome .main-header > .logo:hover {
    background-color: #0d4f9c;
}*/

.login-box-body, .register-box-body{
    overflow:auto;
}

.skin-welcome .main-footer {
    border-top: 1px solid #ccc;
    padding:15px 0;
}

@media (min-device-width: 767px) {
    .login-box {
        width: 600px;
    }
    
}
@media (max-device-width: 767px){
    
    .main-header {
        max-height: 170px;
    }
    .skin-black.skin-welcome .main-footer {
        margin: 0 !important;
    }

    .content-wrapper {
        padding-bottom: 30px;
    }

    .login-box, .register-box{
        width:98%;
    }
}
.login-box-msg, .register-box-msg{
    text-align:left;
    font-family:'Roboto';
    text-transform:uppercase;
    padding:0 0 20px 0;
}



.register-link {
    margin-top: -10px;
    margin-bottom: 20px;
}

    .fogotPassword-link {
        margin-top: 20px;
    }

    .authorize-text {
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        color: #737780;
        font-size: 13px;
        margin: 40px 0 20px 0;
    }

    .control-label {
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        color: #737780;
        font-size: 13px;
        font-weight: normal;
    }

    .skin-welcome .radio label, .checkbox label {
        padding-left: 0px;
    }

    .skin-welcome h2 {
        text-transform: uppercase;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 18px;
    }

    .skin-black.skin-welcome .main-footer {
        background-color: #ecf0f5;
        margin: 0 30px;
    }

