@model PgDbase.entity.Paged<PgDbase.entity.VacancyModel>

@if (Model != null)
{
    <div class="row" style="margin-top:100px;">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-12">
                <a href="/vacancy/item/@item.Id">@item.Title</a>
            </div>
        }
    </div>

    //Тест виджета
    <div>
        @{Html.RenderAction("Widget", "Vacancy", new { viewName = "Widget", count = 2, title = "Виджет для вакансий" });}
    </div>
}
