@model Portal.Models.VacancyWidgetModel

@{ 
    Layout = null;
}

@if (Model != null)
{
    <div class="row" style="margin-top: 100px;">
        <h1>@Model.Title</h1>
        @foreach (var item in Model.List)
        {
            <div class="col-md-12">
                <a href="/vacancy/item/@item.Id">@item.Title</a>
            </div>
        }
    </div>
}
